<div class="container mt-5 notify-requirement test-scroll">
        <h1 class="text-alignment  font-family"> Summary</h1>
      <table class="table table-hover">
        <thead class="bg-dark text-white">
          <tr>
            <th scope="col">No Of Records inserted</th>
            <th scope="col">Company Name</th>
            <th scope="col">From Date</th>
            <th scope="col">To Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{summary.noOfRecords}}</td>
            <td>{{summary.companyName}}</td>
            <td>{{summary.minDate | date:'yyyy-MM-dd'}}</td>
            <td>{{summary.maxDate | date:'yyyy-MM-dd'}}</td>
          </tr>
        </tbody>
      </table>
      </div>