<nav class="navbar-expand-md navbar navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#"><i class="material-icons align-bottom">attach_money</i> Stock market</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav ">
            <li *ngIf="getRoll() != null" class="nav-item"><a class="nav-link" routerLink="profile"><i
                        class="material-icons align-bottom">perm_identity</i> {{getUsername()}}</a></li>
            <li *ngIf="getRoll() == null" class="nav-item"><a class="nav-link" routerLink="./signup">Signup</a></li>
            <li *ngIf="getRoll() != null" class="nav-item"><a class="nav-link" routerLink="./company-list">Companies</a></li>
            <li *ngIf="getRoll() != null" class="nav-item"><a class="nav-link" routerLink="./chart-compare">Comparision charts</a></li>
            <li *ngIf="getRoll() == null" class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
            <li *ngIf="getRoll() == 'admin'" class="nav-item"><a class="nav-link" routerLink="/excel-upload">Stock Data Upload</a></li>
            <li *ngIf="getRoll() != null"class="nav-item"><a class="nav-link" (click)='signout()' routerLink="">LogOut</a></li>
        </ul>
    </div>
  </nav>