<!-- <div *ngIf="dataLoaded | async" class="container">
    <div class=" p-0 m-3 col-12 justify-content-center">
            <h3>Select Company</h3>
        
            <select id="vendorType" [(ngModel)]="companyCode" class="form-control">
                <option *ngFor="let company of companies" value="{{company.companyCode}}">{{company.name}} - {{company.companyCode}}</option>
                </select>
                <button class="btn bg-danger my-3 save-button text-white btn-block" 
                type="button" 
                (click) = "filterSelectedData()">
                Plot</button>
        </div>
    </div> -->

<div id="container"></div>
