<div class="container col-6">
        <div class="container mb-2">
            <h3>Select Stock Exchange</h3>
        </div>
        <div class="container mb-2">
            <select  class="form-control"
                (change)="saveCompanyTwo($event.target.value)">
                <option value="true" selected disabled>Select Second Company</option>
                <option value="NSE">NSE</option>
                <option value="BSE">BSE</option>
                <option value="CSE">CSE</option>
            </select>
        </div>
    
</div>
<div class="justify-content-center d-flex" > 
            <button (click)="downlaodExcel()" class="pl-3 btn btn-dark text-alignment " style="border-top-left-radius: 0%; border-top-right-radius: 0%">Download Data</button>
            </div>
<div id="container"></div>
